.users {
    display: block;
    margin: 15px;
}

.users .users_item {
    margin-top: 15px;
    padding: 5px;
    width: 100%;
    height: 70px;
    border: 1px solid rgb(179, 122, 66);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.users .users_item .users_item_img img {
    width: 40px;
    border-radius: 50%;
}

.users .users_item .users_item_name {
    margin-left: 20px;
}

.users .users_item .users_item_button {
    margin-left: auto;
    margin-right: 15px;
}

.users .users_item .users_item_button button {
    width: 150px;
    height: 30px;
    background-color: #FFA351FF;
    border: none;
    border-radius: 10px;
}