.nav {
    margin-top: 10px;
    width: 200px;
    height: 100%;
    border-radius: 10px;

    background-color: #FFBE7BFF;
}

.nav .nav_menu {
    margin-left: 10px;
    margin-top: 10px;
}

.nav .nav_menu .nav_menu-item {
    margin-bottom: 10px;
}

.nav .nav_menu .nav_menu-item a {
    color: black;
    text-decoration: none;
}

.nav .nav_menu .nav_menu-item:last-child {
    margin-top: 20px;
}