.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.content {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  border-radius: 10px;

  background-color: #EED971FF;
}